/1D 8-Queens without GOTO/build/
/1D 8-Queens without GOTO/dist/
/8NumberCross/dist/
/8NumberCross/build/
/Hw7B/dist/
/Hw7B/build/
/Dumb8Queens/build/
/Dumb8Queens/dist/
/8Queens-Fancy/build/
/8Queens-Fancy/dist/
/1D-EightQueens with GOTO/build/
/1D-EightQueens with GOTO/dist/
/1D-EightQueensWithoutGOTO/build/
/1D-EightQueensWithoutGOTO/dist/
/StableMarriage/dist/
/StableMarriage/build/
/Project1/nbproject/private/
/Project1/build/
/FunctionPointers/build/
/FunctionPointers/dist/
/nQueens/build/
/nQueens/dist/
/ScoreTheRace/build/
/ScoreTheRace/dist/
/RecursiveFibonacci/build/
/RecursiveFibonacci/dist/
/NonRecursiveTowersOfHanoi/dist/
/NonRecursiveTowersOfHanoi/build/
/8Cross&SMWithRecursion/build/
/8Cross&SMWithRecursion/dist/
/SMwithRecursion/dist/
/SMwithRecursion/build/
/8CrossWithRecursion/build/
/8CrossWithRecursion/dist/